body {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
}

.color-fondo {
    background-color: #009da5;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-family: 'Caveat', cursive;
    color: #707070;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.fuente-grande {
    font-size: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header {
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.icono {
    color: #707070;
}

.bg-textura {
    background-image: url(../img/fondo_turquesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.botones {
    background-color: #ffffff;
    border: 2px solid #007070;
    color: #007070;
    font-weight: 700;
    
}

.fondo {
    background-color: #007070;
}

.carousel-indicators {
    top: 60px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#ffffff;
  }

@media (max-width: 576px) {
    .seccion-descripcion {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .seccion-descripcion {
        display: none;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .seccion-descripcion {
        display: none;
    }
}


@media (min-width: 1200px) {
    
}
